<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tobo list</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <header>
            <h1>TOBO LIST</h1>
        </header>
        <main>
            <div class="container">
                <h2>Cose da fare</h2>
                <ul class="tobo-list"  v-if="todos.length > 0">
                    <li v-for="(item, index) in todos" @click="removeTodo(index)">
                        <p :class="{'paragraph' : item.done === true}">{{ item.text }}</p>
                    </li>
                    
                </ul>
                <div v-else>
                    <h3>Non hai niente da fare</h3>
                </div>

                <div class="input">
                    <label for="newTodo"></label>
                    <input type="text" id="newTodo" placeholder="Aggiungi" v-model="newTodos" class="text">
                    <button class="btn" @click="newElem">Aggiungi</button>
                </div>
            </div>
        </main>
    </div>
    

    <script src="js/script.js"></script>
</body>
</html>